*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.preenchimentoInvalido{
    border: 2px solid red !important;
}

.preenchimentoValido{
    border: 2px solid green !important;
}

.container{
    margin: 37px 147px 167px;
}

.section-form{
    position: relative;
    background-color: #1C140F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px;
}

.section-form form{
    display: flex;
    flex-direction: column;
    padding: 40px;
    width: 670px;
    gap: 20px;

}

.section-form form label{
    color: #4F4F4F;
    font-size: 14px;
}

.section-form form button{
    width: fit-content;
    background-color: #FA9021;
    padding: 10px 32px;
    border-radius: 6px;
    margin-top: 30px;
    margin-left: auto;
    border: none;
    color: white;
}

.section-form form input{
    height: 56px;
    border-radius: 10px;
    border: none;
    width: 100%;
    background-color: rgba(255,255, 255, 0.07);
    border: 0.6px solid #CECECE;
    margin-top: 6px;
    padding: 20px;
    color: white;
}

.inputs-style{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.section-form form textarea{
    border-radius: 10px;
    border: none;
    width: 100%;
    background-color: rgba(255,255, 255, 0.07);
    border: 0.6px solid #CECECE;
    resize: none;
    margin-top: 6px;
    color: white;
    padding: 20px;
}


.names-inputs{
    display: flex;
    gap: 27px;
}

.risco2{
    position: absolute;
    top: 0;
    right: 0;
    pointer-events: none;
}

.risco1{
    position: absolute;
    bottom: 0;
    left: 0;
    pointer-events: none;
}

.aviso-form-invalido{
    border: 2px solid red !important;
    color: red;
    font-weight: bold;
}

.aviso-form-valido{
    border: 2px solid green !important;
    color: green;
    font-weight: bold;
}


.aviso-form{
    text-align: center;
    border-radius: 10px;
    padding: 20px;
}

body{
    background: linear-gradient(#39289F, #422F9C);
    font-family: "Poppins", sans-serif;
    color: white;
}

footer{
    background-color: black;
    color: white;
    gap: 40px;
}

nav{
    display:flex;
    justify-content: space-between;
    margin: 37px 55px;

}

nav ul{
    display: flex;
    list-style: none;
    gap: 88px;
    align-items: center;
}

nav li:last-child{
    width: fit-content;
    background-color: #FA9021;
    padding: 10px 32px;
    border-radius: 6px;
}


nav a{
    text-decoration: none;
    color: white;
}

.icones{
    background-color: white;
    height: 65px;
    width: 65px;
    border-radius: 9999999999999px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icones-sociais-footer{
    background-color: white;
    height: 34px;
    width: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
    border-radius: 20px;
}

.followus-div{
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.icones-sociais{
    background-color: #1C140F;
    height: 34px;
    width: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
    border-radius: 20px;
}

.icons{
    display: flex;
    align-items: end;
    gap: 16px;
}

.footer-superior{
    border-bottom: 0.8px solid white;
    padding: 78px 120px 40px 120px;
    display: grid;
    grid-template-columns: 1fr 0.5fr 1fr 1fr;
    gap: 100px;
}

.footer-inferior{
    display: flex;
    justify-content: center;
    padding: 29px 0px 29px 0px;
}

.space-inside h3, .space-inside img, .space-inside p {
    margin-bottom: 15px;
}

.space{
    display: flex;
    align-items: end;
    gap: 16px;
}

.card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #1C140F;
    width: 100%;
    padding: 40px 50px 40px 50px;
    color: white;
    border-radius: 15px;
}

.card h2{
    font-size: 30px;
}

.card p{
    margin-top: 10px;
    font-size: 16px;
}

.mini-form{
    background-color: white;
    padding: 10px;
    border-radius: 8px;
}

.mini-form input{
    margin-left: 20px;
    border: none;
}

.mini-form button{
    color: white;
    background-color: #DC7000;
    padding: 8px 14px 8px 14px;
    border: none;
    border-radius: 8px;
}

.before-footer{
    color: white;
    margin-top: 105px ;
    display: flex;
    flex-direction: column;
    gap: 74px;
}

.secao1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.secao1 h1{
    font-size: 33px;
    margin-top: 15px;
    margin-bottom: 13px;
}

.secao1-superior{
    text-align: center;
    font-size: 16px;
}

.secao1-superior a:first-child{
    color: white;
    text-decoration: none;
}

.secao1-inferior{
    display: flex;
    justify-content: space-between;
    margin-bottom: 147px;
}

.secao1-superior a:last-child{
    color: #E47500;
    text-decoration: none;
}

.separador{
    height: 60px;
    background-color: white;
    width: 2px;
    margin: 0px 97px
}

.alinhar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.alinhar img{
    width: 30px;
    height: 30px;
}

.mapa{
    margin-top: 93px;
    margin-bottom: 62px;
}